@charset "UTF-8";
body{
    
    background-color: #333a56;
    color: #e8e8e8;
    font-size: 12pt;
    font-family: 'Times New Roman';
    /*margin-top: 3cm;
    margin-bottom: 2cm;
    margin-left: 3cm;
    margin-right: 2cm;
    text-indent: 2cm;
    */
}

table,
tr,
td {
    border: 1px solid rgb(255, 255, 255);

}

.img {
    margin: auto;
}
a{
    color: black;
    text-decoration: none;
}

header{
    display: grid;
    grid-template-columns: 200px 400px;
    width: 100%;
    background-color: white;
    
}
.titulo-index{
    color: black;
}

.navegacao{
    background-color: #e8e8e8;
    width: 100%;
    align-items: center;
}

.navegacao a{
    margin-left: 12px;
}

.navegacao a:hover{
    text-decoration: underline;
}

.imagem{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto-principal{
    margin-top: 3cm;
    margin-bottom: 2cm;
    margin-left: 3cm;
    margin-right: 2cm;
    text-indent: 2cm;
    text-align: justify;
}

#titulo-texto{
    text-align: center;
}