@charset "UTF-8";
body{
    
    background-color: #333a56;
    color: #e8e8e8;
    font-size: 12pt;
    font-family: 'Times New Roman';
    margin-top: 3cm;
    margin-bottom: 2cm;
    margin-left: 3cm;
    margin-right: 2cm;
    text-indent: 2cm;
}

table,
tr,
td {
    border: 1px solid rgb(255, 255, 255);
    margin: auto;

}


